<div class="row">

  <div class="text-center">

    <h2>{{route.name}}</h2>
    <p>{{rating.rating}}</p>
    <p>First Ascent by {{route.FA}}</p>

    <textarea placeholder="Leave a Review!"></textarea>

    <div class="form-group">
      <button class="btn btn-primary" type="submit">Submit</button>
    </div>

  </div>

</div>

